body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #a56f29;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: #a56f29;
    color: #f0dfcc;
}
.bg-2 { 
    background-image: url('https://w.wallhaven.cc/full/42/wallhaven-42roy9.jpg');
    background-size: cover;
    background-position: center;
    color: #f0dfcc;
}
.bg-3 { 
    background-color: #f0dfcc;
    color: #a56f29;
}
.bg-4 { 
    background-color: #271808;
    color: #f0dfcc;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #a56f29 !important;
}
.button {
    background-color: #a56f29;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
}
.round {border-radius: 8px;}
#trivia {background-color: #f0dfcc;}
#triviaAnswers {background-color: #f0dfcc;}
#triviaAnswer {background-color: #f0dfcc;}

/* Movie card styling */
.movie-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: left;
}

/* Picture card styling */
.picture-card {
    background-color: #271808;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-align: center; 
    align-items: center; 
}

.movie-card:hover {
    transform: scale(1.02);
}
 
.movie-input-box {
    position: fixed;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
.movie-input-box input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-family: Montserrat, sans-serif;
}

.autocomplete-suggestions {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 1000;
    width: 300px;
    max-height: 200px;
    overflow-y: auto;
}

.autocomplete-suggestions div {
padding: 8px;
cursor: pointer;
}

.autocomplete-suggestions div:hover {
background-color: #f0f0f0;
}
  
