
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> CPS 449: Team 6's Home Page</title>
        <script src="https://udayton-cloud.bitbucket.io/clock.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                crossorigin="anonymous"></script>
                <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://startbootstrap.github.io/startbootstrap-grayscale/"></script>
        <link rel="stylesheet" href="/stylesheet.css">
    </head>

    <body>

        <!-- Navbar -->
        <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                </button>
                <a class="navbar-brand" href=/../index.html>Team 6</a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="views/chatbox.html">Chat Bot</a></li>
                  <li><a href=#>2</a></li>
                  <li><a href=#>3</a></li>
                </ul>
              </div>
            </div>
        </nav>
        
        <div class="container-fluid bg-3 text-center">    
            <h3 class="margin"></h3><br>
            <div class="row">
                <div class="col-sm-9 text-left">
                    <div class="row">
                      <!-- Movie 1 -->
                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                          <h4>Example</h4>
                          <p>example text</p>
                        </div>
                      </div>
              
                      <!-- Movie 2 -->
                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>
              
                      <!-- Movie 3 -->
                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>

                      <div class="col-sm-6 col-md-4">
                        <div class="movie-card">
                            <h4>Example</h4>
                            <p>example text</p>
                        </div>
                      </div>
                      
                    </div>
                </div> 
                
                <div class="col-sm-3">
                    <div class="chatbot-box">
                      <div class="chatbot-inner">
                        <h4>Ask me to adjust recommendations</h4>
                        <div id="chat-messages">
                          <!-- messages go here -->
                        </div>
                        <input type="text" placeholder="Type here..." />
                      </div>
                      
                    </div>
                </div>
 
            </div>  
        </div>

        <!-- Footer -->
        <footer class="container-fluid bg-4 text-center">
        </footer>
    </body>
</html>
