<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movie Details</title>

    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://startbootstrap.github.io/startbootstrap-grayscale/"></script>
    <link rel="stylesheet" href="/stylesheet.css" />
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target="#myNavbar"
          >
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/../index.html">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="chatbox.html">Chat Bot</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Main Content -->
    <div class="container-fluid bg-3 text-center">
      <h3 id="movie-title" class="margin">Loading Movie...</h3>
      <br />
      <div class="row">
        <div class="col-sm-12 text-center">
          <div id="loading-spinner" style="margin-bottom: 20px">
            <div class="spinner"></div>
          </div>
          <div id="movie-details" style="margin-top: 20px"></div>
        </div>
      </div>
    </div>
    <div id="recommendations" class="container-fluid bg-3 text-center"></div>

    <!-- Footer -->
    <footer class="container-fluid bg-4 text-center"></footer>

    <script src="/main.js"></script>
  </body>
</html>
